install  pip3 install snscrape. https://github.com/JustAnotherArchivist/snscrape/blob/master/README.md

https://betterprogramming.pub/how-to-scrape-tweets-with-snscrape-90124ed006af

https://www.youtube.com/watch?v=jOqLX_az_Tg

In [41]:
#pip install snscrape

In [113]:
import snscrape.modules.twitter as sntwitter
import pandas as pd

# Creating list to append tweet data to
tweets_list1 = []

# Using TwitterSearchScraper to scrape data and append tweets to list
for i,tweet in enumerate(sntwitter.TwitterSearchScraper('farmers prices near:Ireland').get_items()):
    if i>500:
        break
    tweets_list1.append([tweet.date, tweet.id, tweet.content])
    
# Creating a dataframe from the tweets list above 
tweets_df1 = pd.DataFrame(tweets_list1, columns=['Datetime', 'Tweet Id', 'Text'])

In [114]:
tweets_df1

,Datetime,Tweet Id,Text
0,2022-05-21 07:18:59+00:00,1527911820035497984,Milk prices soar for April supplies\nhttps://t...
1,2022-05-20 17:58:36+00:00,1527710395288494085,"@invest_ez Beef prices are great, milk is pret..."
2,2022-05-19 20:18:59+00:00,1527383338587000832,"A boost for live exports, beef prices, Kerry C..."
3,2022-05-19 16:49:59+00:00,1527330740232343552,'Unless processors up their prices for organic...
4,2022-05-19 11:25:56+00:00,1527249190019026944,Pig farmers have spent the night protesting at...
5,2022-05-19 07:15:02+00:00,1527186047108534272,Farmers told to expect an increase in charges ...
6,2022-05-17 21:09:59+00:00,1526671395865894914,Check out the prices and photos from the Angus...
7,2022-05-17 18:09:59+00:00,1526626097932148737,The latest USDA World Agricultural Supply and ...
8,2022-05-15 00:54:58+00:00,1525640848905576449,I perfectly timed my purchase of peak CRV and ...

In [115]:
# Creating list to append tweet data to
tweets_list2 = []

# Using TwitterSearchScraper to scrape data and append tweets to list
for i,tweet in enumerate(sntwitter.TwitterSearchScraper('fertiliser prices near:Ireland').get_items()):
    if i>500:
        break
    tweets_list2.append([tweet.date, tweet.id, tweet.content])
    
# Creating a dataframe from the tweets list above 
tweets_df2 = pd.DataFrame(tweets_list2, columns=['Datetime', 'Tweet Id', 'Text'])

In [116]:
tweets_df2

,Datetime,Tweet Id,Text
0,2022-05-20 14:09:52+00:00,1527652834027659265,The increase in energy and fertiliser prices i...
1,2022-05-19 20:21:42+00:00,1527384019477835776,@CiaranCuffe @Concern @neasa_neasa @JanetPHorn...
2,2022-05-19 10:31:20+00:00,1527235450561343488,CheckoutIreland: The war in Ukraine and drough...
3,2022-05-19 09:38:11+00:00,1527222075601068032,The war in Ukraine and drought fuelled by clim...
4,2022-05-15 06:30:04+00:00,1525725179418230785,“If fertiliser and feed prices stay where it i...

In [117]:
# Creating list to append tweet data to
tweets_list3 = []

# Using TwitterSearchScraper to scrape data and append tweets to list
for i,tweet in enumerate(sntwitter.TwitterSearchScraper('farming prices near:Dublin').get_items()):
    if i>500:
        break
    tweets_list3.append([tweet.date, tweet.id, tweet.content])
    
# Creating a dataframe from the tweets list above 
tweets_df3 = pd.DataFrame(tweets_list3, columns=['Datetime', 'Tweet Id', 'Text'])

In [118]:
tweets_df3

,Datetime,Tweet Id,Text
0,2022-05-21 19:01:58+00:00,1528088730824757249,https://t.co/MJ1j7J6bBp Every part of this mos...
1,2022-05-18 00:41:22+00:00,1526724591237873664,"#USA -Prices for #diesel, have surged 76.5% in..."
2,2022-05-17 18:01:06+00:00,1526623859432120322,"Are record prices for grain, beef, lamb and da..."
3,2022-02-07 07:00:25+00:00,1490581195159187456,@IFAmedia @lidl_ireland @McConalogue @martinhe...
4,2020-12-18 14:26:30+00:00,1339940105662959617,@IeuanDolby Will wait and see. \n\nI don’t see...
5,2020-12-10 07:10:29+00:00,1336931272644554753,@AliKhizar @Adnan__Siddiqui @adilmansoor91 @Ma...
6,2020-10-30 11:59:12+00:00,1322146031493152770,@padraig_breen @Joedev1956 @RTEOne @ellamcswee...

In [119]:
# Creating list to append tweet data to
tweets_list4 = []

# Using TwitterSearchScraper to scrape data and append tweets to list
for i,tweet in enumerate(sntwitter.TwitterSearchScraper('agriculture spend near:Ireland').get_items()):
    if i>500:
        break
    tweets_list4.append([tweet.date, tweet.id, tweet.content])
    
# Creating a dataframe from the tweets list above 
tweets_df4 = pd.DataFrame(tweets_list4, columns=['Datetime', 'Tweet Id', 'Text'])

In [120]:
tweets_df4

,Datetime,Tweet Id,Text
0,2022-05-20 23:44:08+00:00,1527797351020220416,@Michael54325847 “The Department of Agricultur...
1,2022-05-20 01:52:47+00:00,1527467338508926983,"lol the tax and spend"" citation in thjs was a ..."

In [121]:
# Creating list to append tweet data to
tweets_list5 = []

# Using TwitterSearchScraper to scrape data and append tweets to list
for i,tweet in enumerate(sntwitter.TwitterSearchScraper('farm cost near:Dublin').get_items()):
    if i>2000:
        break
    tweets_list5.append([tweet.date, tweet.id, tweet.content])
    
# Creating a dataframe from the tweets list above 
tweets_df5 = pd.DataFrame(tweets_list5, columns=['Datetime', 'Tweet Id', 'Text'])

In [122]:
tweets_df5

Empty DataFrame
Columns: [Datetime, Tweet Id, Text]
Index: []

In [123]:
# Creating list to append tweet data to
tweets_list6 = []

# Using TwitterSearchScraper to scrape data and append tweets to list
for i,tweet in enumerate(sntwitter.TwitterSearchScraper('fertiliser near:Ireland').get_items()):
    if i>2000:
        break
    tweets_list6.append([tweet.date, tweet.id, tweet.content])
    
# Creating a dataframe from the tweets list above 
tweets_df6 = pd.DataFrame(tweets_list6, columns=['Datetime', 'Tweet Id', 'Text'])
tweets_df6

,Datetime,Tweet Id,Text
0,2022-05-20 21:23:49+00:00,1527762040269455363,@GTCost @eosfuturedesign For yrs Ohio's Lake E...
1,2022-05-20 16:05:42+00:00,1527681985216495616,In this week’s packed edition:\nKEVIN DOYLE: B...
2,2022-05-20 14:09:52+00:00,1527652834027659265,The increase in energy and fertiliser prices i...
3,2022-05-19 20:21:42+00:00,1527384019477835776,@CiaranCuffe @Concern @neasa_neasa @JanetPHorn...
4,2022-05-19 13:22:49+00:00,1527278602705723398,@Xeirus @sludge_princes @bibi__pictures @KyivI...
5,2022-05-19 13:20:35+00:00,1527278042900742144,@bibi__pictures @KyivIndependent @AnnaMyroniuk...
6,2022-05-19 10:31:20+00:00,1527235450561343488,CheckoutIreland: The war in Ukraine and drough...
7,2022-05-19 09:38:11+00:00,1527222075601068032,The war in Ukraine and drought fuelled by clim...
8,2022-05-19 09:00:44+00:00,1527212650660352003,Seeing a good bit of this in fields where I wo...
9,2022-05-19 05:10:07+00:00,1527154613526446080,By following the cows with fertiliser rather t...
10,2022-05-18 17:25:10+00:00,1526977208216068097,Take home messages from this study - fertilise...
11,2022-05-18 17:25:10+00:00,1526977206211182594,NBPT on soil bacterial and fungal composition ...
12,2022-05-17 21:01:14+00:00,1526669191364939788,@inkdanarchist @EgoAndIts0wn @CtrlPew @Cracked...
13,2022-05-17 18:30:10+00:00,1526631177012056066,“I thought I would not live to see the day whe...
14,2022-05-16 18:17:32+00:00,1526265608739950595,@RShrubb Basic crops have become ridiculously ...
15,2022-05-16 13:31:44+00:00,1526193683460239362,@D9Herbs @irish_organic Broke: chemical fertil...
16,2022-05-15 18:36:44+00:00,1525908054591655938,@BritFeather @LucieCatnip @bharris1968 I test ...
17,2022-05-15 06:30:04+00:00,1525725179418230785,“If fertiliser and feed prices stay where it i...
18,2022-05-14 21:01:36+00:00,1525582122961993729,@Bentonra The day after border infrastructure ...
19,2022-05-14 16:50:41+00:00,1525518976092094464,@TheresaC16 No they’ll grow just rough up the ...

In [125]:
# Creating list to append tweet data to
tweets_list7 = []

# Using TwitterSearchScraper to scrape data and append tweets to list
for i,tweet in enumerate(sntwitter.TwitterSearchScraper('farm spend near:Ireland').get_items()):
    if i>2000:
        break
    tweets_list7.append([tweet.date, tweet.id, tweet.content])
    
# Creating a dataframe from the tweets list above 
tweets_df7 = pd.DataFrame(tweets_list7, columns=['Datetime', 'Tweet Id', 'Text'])
tweets_df7

,Datetime,Tweet Id,Text
0,2022-05-20 12:30:02+00:00,1527627709660151813,Our technical specialists and editorial team w...
1,2022-05-16 17:12:25+00:00,1526249222508535808,Passionate about what they do as farmers thems...
2,2019-03-04 20:03:53+00:00,1102660958575419392,How did we spend our office anniversary evenin...
3,2019-02-14 19:26:37+00:00,1096128596924616706,Happy Valentine’s Day to everyone from our Sta...

### Combine all twitter datasest into one

In [132]:
df_tweets =pd.concat([tweets_df1, tweets_df2, tweets_df3, tweets_df4, tweets_df5,  tweets_df6, tweets_df7], ignore_index=True)
df_tweets

,Datetime,Tweet Id,Text
0,2022-05-21 07:18:59+00:00,1527911820035497984,Milk prices soar for April supplies\nhttps://t...
1,2022-05-20 17:58:36+00:00,1527710395288494085,"@invest_ez Beef prices are great, milk is pret..."
2,2022-05-19 20:18:59+00:00,1527383338587000832,"A boost for live exports, beef prices, Kerry C..."
3,2022-05-19 16:49:59+00:00,1527330740232343552,'Unless processors up their prices for organic...
4,2022-05-19 11:25:56+00:00,1527249190019026944,Pig farmers have spent the night protesting at...
5,2022-05-19 07:15:02+00:00,1527186047108534272,Farmers told to expect an increase in charges ...
6,2022-05-17 21:09:59+00:00,1526671395865894914,Check out the prices and photos from the Angus...
7,2022-05-17 18:09:59+00:00,1526626097932148737,The latest USDA World Agricultural Supply and ...
8,2022-05-15 00:54:58+00:00,1525640848905576449,I perfectly timed my purchase of peak CRV and ...
9,2022-05-20 14:09:52+00:00,1527652834027659265,The increase in energy and fertiliser prices i...
10,2022-05-19 20:21:42+00:00,1527384019477835776,@CiaranCuffe @Concern @neasa_neasa @JanetPHorn...
11,2022-05-19 10:31:20+00:00,1527235450561343488,CheckoutIreland: The war in Ukraine and drough...
12,2022-05-19 09:38:11+00:00,1527222075601068032,The war in Ukraine and drought fuelled by clim...
13,2022-05-15 06:30:04+00:00,1525725179418230785,“If fertiliser and feed prices stay where it i...
14,2022-05-21 19:01:58+00:00,1528088730824757249,https://t.co/MJ1j7J6bBp Every part of this mos...
15,2022-05-18 00:41:22+00:00,1526724591237873664,"#USA -Prices for #diesel, have surged 76.5% in..."
16,2022-05-17 18:01:06+00:00,1526623859432120322,"Are record prices for grain, beef, lamb and da..."
17,2022-02-07 07:00:25+00:00,1490581195159187456,@IFAmedia @lidl_ireland @McConalogue @martinhe...
18,2020-12-18 14:26:30+00:00,1339940105662959617,@IeuanDolby Will wait and see. \n\nI don’t see...
19,2020-12-10 07:10:29+00:00,1336931272644554753,@AliKhizar @Adnan__Siddiqui @adilmansoor91 @Ma...
20,2020-10-30 11:59:12+00:00,1322146031493152770,@padraig_breen @Joedev1956 @RTEOne @ellamcswee...
21,2022-05-20 23:44:08+00:00,1527797351020220416,@Michael54325847 “The Department of Agricultur...
22,2022-05-20 01:52:47+00:00,1527467338508926983,"lol the tax and spend"" citation in thjs was a ..."
23,2022-05-20 21:23:49+00:00,1527762040269455363,@GTCost @eosfuturedesign For yrs Ohio's Lake E...
24,2022-05-20 16:05:42+00:00,1527681985216495616,In this week’s packed edition:\nKEVIN DOYLE: B...
25,2022-05-20 14:09:52+00:00,1527652834027659265,The increase in energy and fertiliser prices i...
26,2022-05-19 20:21:42+00:00,1527384019477835776,@CiaranCuffe @Concern @neasa_neasa @JanetPHorn...
27,2022-05-19 13:22:49+00:00,1527278602705723398,@Xeirus @sludge_princes @bibi__pictures @KyivI...
28,2022-05-19 13:20:35+00:00,1527278042900742144,@bibi__pictures @KyivIndependent @AnnaMyroniuk...
29,2022-05-19 10:31:20+00:00,1527235450561343488,CheckoutIreland: The war in Ukraine and drough...
30,2022-05-19 09:38:11+00:00,1527222075601068032,The war in Ukraine and drought fuelled by clim...
31,2022-05-19 09:00:44+00:00,1527212650660352003,Seeing a good bit of this in fields where I wo...
32,2022-05-19 05:10:07+00:00,1527154613526446080,By following the cows with fertiliser rather t...
33,2022-05-18 17:25:10+00:00,1526977208216068097,Take home messages from this study - fertilise...
34,2022-05-18 17:25:10+00:00,1526977206211182594,NBPT on soil bacterial and fungal composition ...
35,2022-05-17 21:01:14+00:00,1526669191364939788,@inkdanarchist @EgoAndIts0wn @CtrlPew @Cracked...
36,2022-05-17 18:30:10+00:00,1526631177012056066,“I thought I would not live to see the day whe...
37,2022-05-16 18:17:32+00:00,1526265608739950595,@RShrubb Basic crops have become ridiculously ...
38,2022-05-16 13:31:44+00:00,1526193683460239362,@D9Herbs @irish_organic Broke: chemical fertil...
39,2022-05-15 18:36:44+00:00,1525908054591655938,@BritFeather @LucieCatnip @bharris1968 I test ...
40,2022-05-15 06:30:04+00:00,1525725179418230785,“If fertiliser and feed prices stay where it i...
41,2022-05-14 21:01:36+00:00,1525582122961993729,@Bentonra The day after border infrastructure ...
42,2022-05-14 16:50:41+00:00,1525518976092094464,@TheresaC16 No they’ll grow just rough up the ...
43,2022-05-20 12:30:02+00:00,1527627709660151813,Our technical specialists and editorial team w...
44,2022-05-16 17:12:25+00:00,1526249222508535808,Passionate about what they do as farmers thems...
45,2019-03-04 20:03:53+00:00,1102660958575419392,How did we spend our office anniversary evenin...
46,2019-02-14 19:26:37+00:00,1096128596924616706,Happy Valentine’s Day to everyone from our Sta...

In [133]:
#drop any duplicates rows 
df_tweets.drop_duplicates()

,Datetime,Tweet Id,Text
0,2022-05-21 07:18:59+00:00,1527911820035497984,Milk prices soar for April supplies\nhttps://t...
1,2022-05-20 17:58:36+00:00,1527710395288494085,"@invest_ez Beef prices are great, milk is pret..."
2,2022-05-19 20:18:59+00:00,1527383338587000832,"A boost for live exports, beef prices, Kerry C..."
3,2022-05-19 16:49:59+00:00,1527330740232343552,'Unless processors up their prices for organic...
4,2022-05-19 11:25:56+00:00,1527249190019026944,Pig farmers have spent the night protesting at...
5,2022-05-19 07:15:02+00:00,1527186047108534272,Farmers told to expect an increase in charges ...
6,2022-05-17 21:09:59+00:00,1526671395865894914,Check out the prices and photos from the Angus...
7,2022-05-17 18:09:59+00:00,1526626097932148737,The latest USDA World Agricultural Supply and ...
8,2022-05-15 00:54:58+00:00,1525640848905576449,I perfectly timed my purchase of peak CRV and ...
9,2022-05-20 14:09:52+00:00,1527652834027659265,The increase in energy and fertiliser prices i...
10,2022-05-19 20:21:42+00:00,1527384019477835776,@CiaranCuffe @Concern @neasa_neasa @JanetPHorn...
11,2022-05-19 10:31:20+00:00,1527235450561343488,CheckoutIreland: The war in Ukraine and drough...
12,2022-05-19 09:38:11+00:00,1527222075601068032,The war in Ukraine and drought fuelled by clim...
13,2022-05-15 06:30:04+00:00,1525725179418230785,“If fertiliser and feed prices stay where it i...
14,2022-05-21 19:01:58+00:00,1528088730824757249,https://t.co/MJ1j7J6bBp Every part of this mos...
15,2022-05-18 00:41:22+00:00,1526724591237873664,"#USA -Prices for #diesel, have surged 76.5% in..."
16,2022-05-17 18:01:06+00:00,1526623859432120322,"Are record prices for grain, beef, lamb and da..."
17,2022-02-07 07:00:25+00:00,1490581195159187456,@IFAmedia @lidl_ireland @McConalogue @martinhe...
18,2020-12-18 14:26:30+00:00,1339940105662959617,@IeuanDolby Will wait and see. \n\nI don’t see...
19,2020-12-10 07:10:29+00:00,1336931272644554753,@AliKhizar @Adnan__Siddiqui @adilmansoor91 @Ma...
20,2020-10-30 11:59:12+00:00,1322146031493152770,@padraig_breen @Joedev1956 @RTEOne @ellamcswee...
21,2022-05-20 23:44:08+00:00,1527797351020220416,@Michael54325847 “The Department of Agricultur...
22,2022-05-20 01:52:47+00:00,1527467338508926983,"lol the tax and spend"" citation in thjs was a ..."
23,2022-05-20 21:23:49+00:00,1527762040269455363,@GTCost @eosfuturedesign For yrs Ohio's Lake E...
24,2022-05-20 16:05:42+00:00,1527681985216495616,In this week’s packed edition:\nKEVIN DOYLE: B...
27,2022-05-19 13:22:49+00:00,1527278602705723398,@Xeirus @sludge_princes @bibi__pictures @KyivI...
28,2022-05-19 13:20:35+00:00,1527278042900742144,@bibi__pictures @KyivIndependent @AnnaMyroniuk...
31,2022-05-19 09:00:44+00:00,1527212650660352003,Seeing a good bit of this in fields where I wo...
32,2022-05-19 05:10:07+00:00,1527154613526446080,By following the cows with fertiliser rather t...
33,2022-05-18 17:25:10+00:00,1526977208216068097,Take home messages from this study - fertilise...
34,2022-05-18 17:25:10+00:00,1526977206211182594,NBPT on soil bacterial and fungal composition ...
35,2022-05-17 21:01:14+00:00,1526669191364939788,@inkdanarchist @EgoAndIts0wn @CtrlPew @Cracked...
36,2022-05-17 18:30:10+00:00,1526631177012056066,“I thought I would not live to see the day whe...
37,2022-05-16 18:17:32+00:00,1526265608739950595,@RShrubb Basic crops have become ridiculously ...
38,2022-05-16 13:31:44+00:00,1526193683460239362,@D9Herbs @irish_organic Broke: chemical fertil...
39,2022-05-15 18:36:44+00:00,1525908054591655938,@BritFeather @LucieCatnip @bharris1968 I test ...
41,2022-05-14 21:01:36+00:00,1525582122961993729,@Bentonra The day after border infrastructure ...
42,2022-05-14 16:50:41+00:00,1525518976092094464,@TheresaC16 No they’ll grow just rough up the ...
43,2022-05-20 12:30:02+00:00,1527627709660151813,Our technical specialists and editorial team w...
44,2022-05-16 17:12:25+00:00,1526249222508535808,Passionate about what they do as farmers thems...
45,2019-03-04 20:03:53+00:00,1102660958575419392,How did we spend our office anniversary evenin...
46,2019-02-14 19:26:37+00:00,1096128596924616706,Happy Valentine’s Day to everyone from our Sta...

### Backing up tweets
In case anything happens to my library, I will save the tweets. It took a very long time to find a library that worked

In [134]:
import csv

In [135]:
#create a new csv file
#f = open("../data/farmtweets.csv", "x")

https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.to_csv.html

In [136]:
import os  
#os.makedirs('folder/subfolder', exist_ok=True)  
df_tweets.to_csv('../data/farmtweets.csv')