install  pip3 install snscrape. https://github.com/JustAnotherArchivist/snscrape/blob/master/README.md

https://betterprogramming.pub/how-to-scrape-tweets-with-snscrape-90124ed006af

https://www.youtube.com/watch?v=jOqLX_az_Tg

In [69]:
#pip install snscrape

In [7]:
import snscrape.modules.twitter as sntwitter
import pandas as pd

# Creating list to append tweet data to
tweets_list1 = []

# Using TwitterSearchScraper to scrape data and append tweets to list
for i,tweet in enumerate(sntwitter.TwitterSearchScraper('#farmers near:Dublin').get_items()):
    if i>500:
        break
    tweets_list1.append([tweet.date, tweet.id, tweet.content])
    
# Creating a dataframe from the tweets list above 
tweets_df1 = pd.DataFrame(tweets_list1, columns=['Datetime', 'Tweet Id', 'Text'])

In [8]:
tweets_df1

,Datetime,Tweet Id,Text
0,2022-04-28 23:58:01+00:00,1519828311802793987,US #farming update: \n\n- Pittsburgh farmers r...
1,2022-04-28 15:25:21+00:00,1519699295863283713,Do you know that #pig #farmers are benefitting...
2,2022-04-27 08:42:30+00:00,1519235527324712960,‚ÄòSurging input costs are keeping #farmers awak...
3,2022-04-27 07:08:58+00:00,1519211988857020416,The Bill will aim to protect family farms from...
4,2022-04-25 15:36:37+00:00,1518614967754309633,#India / Middle East - Food processing compani...
...,...,...,...
124,2012-10-10 23:30:19+00:00,256174853571346432,@jackwhitehall what pub are you in?! Sounds sc...
125,2012-10-09 10:09:05+00:00,255610830501068802,I hear Merrion Sq might have a bit of a traffi...
126,2012-09-06 10:50:12+00:00,243662376929488896,@TomOC20 @marktownley17 beautiful game... Go e...
127,2012-07-14 15:33:15+00:00,224164664584568833,Fresh fruit's a winner today!! #local #raspber...
128,2011-12-05 09:01:29+00:00,143615965303812096,"37 mins late wasn't too bad.. But fuck me, a t..."

In [19]:
# Creating list to append tweet data to
tweets_list2 = []

# Using TwitterSearchScraper to scrape data and append tweets to list
for i,tweet in enumerate(sntwitter.TwitterSearchScraper('Fertiliser near:Dublin').get_items()):
    if i>500:
        break
    tweets_list2.append([tweet.date, tweet.id, tweet.content])
    
# Creating a dataframe from the tweets list above 
tweets_df2 = pd.DataFrame(tweets_list2, columns=['Datetime', 'Tweet Id', 'Text'])

In [20]:
tweets_df2

,Datetime,Tweet Id,Text
0,2022-04-28 15:03:20+00:00,1519693753707118592,#ZeroWaste: Coffee grounds are a great fertili...
1,2022-04-28 08:59:25+00:00,1519602171641225216,@DarraghScott @CallananDarragh All native feed...
2,2022-04-26 23:16:17+00:00,1519093032854990848,Venezuela cancels SVG‚Äôs PetroCaribe debt; prom...
3,2022-04-26 20:34:35+00:00,1519052342666088452,@ziontree Every plant we eat was ‚Äòbred‚Äô by hum...
4,2022-04-26 16:38:46+00:00,1518992996540239873,@fedup42Mn They‚Äôve adverts outside credit unio...
...,...,...,...
128,2013-04-18 07:37:57+00:00,324788878932316161,Dozens feared dead and hundreds believed injur...
129,2013-04-17 12:02:06+00:00,324492965726810112,@Kev_Andrew he'd get on great with my dad I th...
130,2012-10-29 21:24:47+00:00,263028633017384960,@__jamesboyle @jgilchriest she's giving him wi...
131,2012-09-30 16:28:02+00:00,252444702622760960,This is one of my favourite Dovecotes. It's in...
132,2011-10-01 00:13:28+00:00,119927874579996673,"@sharontobin Au contraire, Sharon; they got al..."

In [21]:
# Creating list to append tweet data to
tweets_list3 = []

# Using TwitterSearchScraper to scrape data and append tweets to list
for i,tweet in enumerate(sntwitter.TwitterSearchScraper('#farming near:Dublin').get_items()):
    if i>500:
        break
    tweets_list3.append([tweet.date, tweet.id, tweet.content])
    
# Creating a dataframe from the tweets list above 
tweets_df3 = pd.DataFrame(tweets_list3, columns=['Datetime', 'Tweet Id', 'Text'])

In [22]:
tweets_df3

,Datetime,Tweet Id,Text
0,2022-04-28 23:58:01+00:00,1519828311802793987,US #farming update: \n\n- Pittsburgh farmers r...
1,2022-04-26 16:45:00+00:00,1518994564484268033,Check out our Blog post about Pneumonia to lea...
2,2022-04-24 22:18:35+00:00,1518353738741821441,56 years ago this week #Irish #farmers began t...
3,2022-04-23 19:26:45+00:00,1517948107975282688,Those appliances sure look and sound good! üòâ #...
4,2022-04-23 12:51:28+00:00,1517848629045772289,Fab produce and food at @Honest2Goodness marke...
...,...,...,...
258,2012-04-16 16:38:53+00:00,191928661954400257,Minister Simon Coveney annoucnes agreement to ...
259,2012-04-03 15:49:25+00:00,187205171363840001,Dawn Meats confirms it‚Äôs acquisition of West D...
260,2012-03-31 15:40:04+00:00,186115653718114304,Been so busy in @waterfallfarm shop haven't go...
261,2011-11-17 17:17:20+00:00,137217770331979776,Your last chance to see @SensationMovie at the...
262,2011-08-13 12:49:43+00:00,102361187714465792,Won't make it to the Tullamore Show this year....

In [23]:
# Creating list to append tweet data to
tweets_list4 = []

# Using TwitterSearchScraper to scrape data and append tweets to list
for i,tweet in enumerate(sntwitter.TwitterSearchScraper('#agriculture near:Dublin').get_items()):
    if i>500:
        break
    tweets_list4.append([tweet.date, tweet.id, tweet.content])
    
# Creating a dataframe from the tweets list above 
tweets_df4 = pd.DataFrame(tweets_list4, columns=['Datetime', 'Tweet Id', 'Text'])

In [24]:
tweets_df4

,Datetime,Tweet Id,Text
0,2022-04-29 11:07:01+00:00,1519996673761497089,Have you heard? We‚Äôre showcasing our MyFarmWeb...
1,2022-04-29 09:49:53+00:00,1519977259809058818,@ladevita12 @WSJ Closer to home #Bees #Landmin...
2,2022-04-28 07:38:00+00:00,1519581682445209600,Submit abstract under Carbon Farming &amp; Nat...
3,2022-04-26 07:35:00+00:00,1518856151705657344,Submit abstract under theme: Noval Farming Sys...
4,2022-04-25 07:33:00+00:00,1518493260649426944,Submit abstract under theme: Decision Support ...
...,...,...,...
156,2014-06-11 09:40:44+00:00,476660292806787072,Time for farming to be taken seriously at #UN ...
157,2014-06-09 10:43:34+00:00,475951329924636673,The place of #agriculture at #UN &amp; #EU #cl...
158,2014-03-20 11:15:43+00:00,446606004097392640,@AgriAware meeting today @IFJ_Pat @edmondharty...
159,2014-01-31 10:57:16+00:00,429206741881208832,@Bradley_brands: #agriculture food conf: real ...
160,2013-06-10 13:58:32+00:00,344091213932154880,Interesting presentations of member states on ...

In [31]:
# Creating list to append tweet data to
tweets_list5 = []

# Using TwitterSearchScraper to scrape data and append tweets to list
for i,tweet in enumerate(sntwitter.TwitterSearchScraper('farm near:Dublin').get_items()):
    if i>2000:
        break
    tweets_list5.append([tweet.date, tweet.id, tweet.content])
    
# Creating a dataframe from the tweets list above 
tweets_df5 = pd.DataFrame(tweets_list5, columns=['Datetime', 'Tweet Id', 'Text'])

In [32]:
tweets_df5

,Datetime,Tweet Id,Text
0,2022-04-29 11:08:37+00:00,1519997076754608129,@Rubberbandits Runs a hair transplant farm on ...
1,2022-04-29 10:08:22+00:00,1519981912281989121,"@Carol4OliveFarm Ah very sad , but how lucky w..."
2,2022-04-29 09:52:07+00:00,1519977823741566977,The creative team have worked with Glenilen Fa...
3,2022-04-29 09:51:53+00:00,1519977764845232129,Here's our national farm advisory service @tea...
4,2022-04-29 09:46:26+00:00,1519976392917757954,üí©üöú Spreading slurry on farms is a key grass gr...
...,...,...,...
1996,2019-09-16 16:21:34+00:00,1173633031787241478,Our Simply Better West Cork Co-Op Extra Mature...
1997,2019-09-16 13:48:54+00:00,1173594611958321152,"After a first, full week of college classes at..."
1998,2019-09-15 20:01:04+00:00,1173325881206628352,Male cat lost on 12/09/2019 in Monkstown Farm ...
1999,2019-09-15 18:36:38+00:00,1173304635169366017,This weekend on the Farm. üßêWe had a few of our...
2000,2019-09-15 16:02:10+00:00,1173265763844677639,Just a note @Tesco @heatonssports @WoodiesIrel...

### Combine all twitter datasest into one

In [30]:
# list of the datasets to be combined
datasets = [tweets_df1, tweets_df2, tweets_df3, tweets_df4, tweets_df5] 

df_total = pd.DataFrame() # create dataframe
# loop through datasets
for dataset in datasets: 
    # add dataset to the bottom of the total 
    df_tweets = df_total.append(dataset) 

df_tweets

,Datetime,Tweet Id,Text
0,2022-04-29 11:08:37+00:00,1519997076754608129,@Rubberbandits Runs a hair transplant farm on ...
1,2022-04-29 10:08:22+00:00,1519981912281989121,"@Carol4OliveFarm Ah very sad , but how lucky w..."
2,2022-04-29 09:52:07+00:00,1519977823741566977,The creative team have worked with Glenilen Fa...
3,2022-04-29 09:51:53+00:00,1519977764845232129,Here's our national farm advisory service @tea...
4,2022-04-29 09:46:26+00:00,1519976392917757954,üí©üöú Spreading slurry on farms is a key grass gr...
...,...,...,...
996,2020-11-14 10:34:07+00:00,1327560437655801856,Up and at them delivering around Dublin but al...
997,2020-11-14 03:02:19+00:00,1327446736290320384,@Cernovich Yes so true. Although 1984 is very ...
998,2020-11-13 19:51:18+00:00,1327338267503714306,"38 Castle Farm, Shankill, Dublin 18 ‚á® ‚Ç¨585,000..."
999,2020-11-13 13:28:24+00:00,1327241909761433600,Sign petition to stop puppy farms in Ireland #...
1000,2020-11-12 21:30:53+00:00,1327000940361166866,10 meses mi huasito Chirlandes\n\nFeliz 10 mes...

In [43]:
#drop any duplicates rows 
df_tweets.drop_duplicates()

,Datetime,Tweet Id,Text
0,2022-04-29 11:08:37+00:00,1519997076754608129,@Rubberbandits Runs a hair transplant farm on ...
1,2022-04-29 10:08:22+00:00,1519981912281989121,"@Carol4OliveFarm Ah very sad , but how lucky w..."
2,2022-04-29 09:52:07+00:00,1519977823741566977,The creative team have worked with Glenilen Fa...
3,2022-04-29 09:51:53+00:00,1519977764845232129,Here's our national farm advisory service @tea...
4,2022-04-29 09:46:26+00:00,1519976392917757954,üí©üöú Spreading slurry on farms is a key grass gr...
...,...,...,...
996,2020-11-14 10:34:07+00:00,1327560437655801856,Up and at them delivering around Dublin but al...
997,2020-11-14 03:02:19+00:00,1327446736290320384,@Cernovich Yes so true. Although 1984 is very ...
998,2020-11-13 19:51:18+00:00,1327338267503714306,"38 Castle Farm, Shankill, Dublin 18 ‚á® ‚Ç¨585,000..."
999,2020-11-13 13:28:24+00:00,1327241909761433600,Sign petition to stop puppy farms in Ireland #...
1000,2020-11-12 21:30:53+00:00,1327000940361166866,10 meses mi huasito Chirlandes\n\nFeliz 10 mes...

### Backing up tweets
In case anything happens to my library, I will save the tweets. It took a very long time to find a library that worked

In [44]:
import csv

In [47]:
#create a new csv file
#f = open("../data/farmtweets.csv", "x")

https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.to_csv.html

In [50]:
import os  
#os.makedirs('folder/subfolder', exist_ok=True)  
df_tweets.to_csv('../data/farmtweets.csv')