install  pip3 install snscrape. https://github.com/JustAnotherArchivist/snscrape/blob/master/README.md

https://betterprogramming.pub/how-to-scrape-tweets-with-snscrape-90124ed006af

https://www.youtube.com/watch?v=jOqLX_az_Tg

In [69]:
#pip install snscrape

In [1]:
import snscrape.modules.twitter as sntwitter
import pandas as pd

# Creating list to append tweet data to
tweets_list1 = []

# Using TwitterSearchScraper to scrape data and append tweets to list
for i,tweet in enumerate(sntwitter.TwitterSearchScraper('#farmers prices near:Dublin').get_items()):
    if i>500:
        break
    tweets_list1.append([tweet.date, tweet.id, tweet.content])
    
# Creating a dataframe from the tweets list above 
tweets_df1 = pd.DataFrame(tweets_list1, columns=['Datetime', 'Tweet Id', 'Text'])

In [2]:
tweets_df1

,Datetime,Tweet Id,Text
0,2022-04-24 22:18:35+00:00,1518353738741821441,56 years ago this week #Irish #farmers began t...

In [3]:
# Creating list to append tweet data to
tweets_list2 = []

# Using TwitterSearchScraper to scrape data and append tweets to list
for i,tweet in enumerate(sntwitter.TwitterSearchScraper('fertiliser prices near:Dublin').get_items()):
    if i>500:
        break
    tweets_list2.append([tweet.date, tweet.id, tweet.content])
    
# Creating a dataframe from the tweets list above 
tweets_df2 = pd.DataFrame(tweets_list2, columns=['Datetime', 'Tweet Id', 'Text'])

In [4]:
tweets_df2

,Datetime,Tweet Id,Text
0,2022-02-08 19:21:38+00:00,1491130118865297408,Getting the basics right is crucial this seaso...
1,2022-02-04 09:12:39+00:00,1489527311905009667,Fertiliser prices are though the roof already ...

In [5]:
# Creating list to append tweet data to
tweets_list3 = []

# Using TwitterSearchScraper to scrape data and append tweets to list
for i,tweet in enumerate(sntwitter.TwitterSearchScraper('#farming prices near:Dublin').get_items()):
    if i>500:
        break
    tweets_list3.append([tweet.date, tweet.id, tweet.content])
    
# Creating a dataframe from the tweets list above 
tweets_df3 = pd.DataFrame(tweets_list3, columns=['Datetime', 'Tweet Id', 'Text'])

In [6]:
tweets_df3

,Datetime,Tweet Id,Text
0,2022-04-24 22:18:35+00:00,1518353738741821441,56 years ago this week #Irish #farmers began t...

In [7]:
# Creating list to append tweet data to
tweets_list4 = []

# Using TwitterSearchScraper to scrape data and append tweets to list
for i,tweet in enumerate(sntwitter.TwitterSearchScraper('#agriculture costs near:Dublin').get_items()):
    if i>500:
        break
    tweets_list4.append([tweet.date, tweet.id, tweet.content])
    
# Creating a dataframe from the tweets list above 
tweets_df4 = pd.DataFrame(tweets_list4, columns=['Datetime', 'Tweet Id', 'Text'])

In [8]:
tweets_df4

Empty DataFrame
Columns: [Datetime, Tweet Id, Text]
Index: []

In [9]:
# Creating list to append tweet data to
tweets_list5 = []

# Using TwitterSearchScraper to scrape data and append tweets to list
for i,tweet in enumerate(sntwitter.TwitterSearchScraper('farm costs near:Dublin').get_items()):
    if i>2000:
        break
    tweets_list5.append([tweet.date, tweet.id, tweet.content])
    
# Creating a dataframe from the tweets list above 
tweets_df5 = pd.DataFrame(tweets_list5, columns=['Datetime', 'Tweet Id', 'Text'])

In [10]:
tweets_df5

,Datetime,Tweet Id,Text
0,2022-04-27 08:42:30+00:00,1519235527324712960,‘Surging input costs are keeping #farmers awak...
1,2022-04-02 17:15:52+00:00,1510305024081117190,@jerwaugh @youngsiward Would you not agree tha...
2,2022-02-27 16:15:11+00:00,1497968564069879813,@libraryturner @lidl_ireland Don’t get used to...
3,2021-12-01 15:46:31+00:00,1466071216813395972,@AgrilandIreland Please show how many Irish Fa...

### Combine all twitter datasest into one

In [11]:
# list of the datasets to be combined
datasets = [tweets_df1, tweets_df2, tweets_df3, tweets_df4, tweets_df5] 

df_total = pd.DataFrame() # create dataframe
# loop through datasets
for dataset in datasets: 
    # add dataset to the bottom of the total 
    df_tweets = df_total.append(dataset) 

df_tweets

/var/folders/6f/vnyd6yg5749625wl5h3np2r00000gn/T/ipykernel_53082/2110023109.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_tweets = df_total.append(dataset)
/var/folders/6f/vnyd6yg5749625wl5h3np2r00000gn/T/ipykernel_53082/2110023109.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_tweets = df_total.append(dataset)

,Datetime,Tweet Id,Text
0,2022-04-27 08:42:30+00:00,1519235527324712960,‘Surging input costs are keeping #farmers awak...
1,2022-04-02 17:15:52+00:00,1510305024081117190,@jerwaugh @youngsiward Would you not agree tha...
2,2022-02-27 16:15:11+00:00,1497968564069879813,@libraryturner @lidl_ireland Don’t get used to...
3,2021-12-01 15:46:31+00:00,1466071216813395972,@AgrilandIreland Please show how many Irish Fa...

In [12]:
#drop any duplicates rows 
df_tweets.drop_duplicates()

,Datetime,Tweet Id,Text
0,2022-04-27 08:42:30+00:00,1519235527324712960,‘Surging input costs are keeping #farmers awak...
1,2022-04-02 17:15:52+00:00,1510305024081117190,@jerwaugh @youngsiward Would you not agree tha...
2,2022-02-27 16:15:11+00:00,1497968564069879813,@libraryturner @lidl_ireland Don’t get used to...
3,2021-12-01 15:46:31+00:00,1466071216813395972,@AgrilandIreland Please show how many Irish Fa...

### Backing up tweets
In case anything happens to my library, I will save the tweets. It took a very long time to find a library that worked

In [13]:
import csv

In [14]:
#create a new csv file
#f = open("../data/farmtweets.csv", "x")

https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.to_csv.html

In [15]:
import os  
#os.makedirs('folder/subfolder', exist_ok=True)  
df_tweets.to_csv('../data/farmtweets.csv')