First, to get acess to the tweets, you need to setup a developer account with Twitter at https://developer.twitter.com/en/portal/products/elevated

This will give you the api key, api key secret, access token and access token secret to gain access to the tweets. To get elevated access to twitter you need to expalin what you are doing with the tweets. gives you acess to 2M Tweets per month / Project.
    
To get all the tweets we will use a python library called Tweepy, using pip install tweepy. https://docs.tweepy.org/en/latest/getting_started.html#hello-tweepy


OPen twitter api in postman, to view the collection
https://www.postman.com/twitter/workspace/twitter-s-public-workspace/collection/9956214-784efcda-ed4c-4491-a4c0-a26470a67400?ctx=documentation

tutorials - https://www.youtube.com/watch?v=Lu1nskBkPJU
    
https://www.youtube.com/watch?v=kgNNhjTGLN0
    
https://www.earthdatascience.org/courses/use-data-open-source-python/intro-to-apis/twitter-data-in-python/

In [4]:
# library 
#!pip install tweepy
import requests
import json
import pprint
import pandas as pd
import tweepy as tw

In [5]:
consumer_key = "wMdUP2fc4d6gqTO8qH41IeRrY"
consumer_secret = "jCuvCMrT9FkPSyC1uhULfW8OYYnjqyl8RgcTLbI2ZNNnRugzIi"
access_token = "1316278477-pItksAj8B9db1uGZmIu1jaINhP5f1Jl6TRc0vNM"
access_token_secret = "MDDB6LsUHWr2ig46UGPGbNzqGMvGaD8Id1oUT8sVbowvY"
bearer_token = "AAAAAAAAAAAAAAAAAAAAACxWbwEAAAAAjouhYAFZU%2F7F3oR77ehZpoJW%2BWA%3DXO8JMqLbPBYSguAjwxseQ12y2xD8UBZVFN1tp3eawiRiLBY2sM"

In [6]:

auth = tw.OAuth1UserHandler(
   consumer_key, consumer_secret, access_token, access_token_secret
)

api = tw.API(auth, wait_on_rate_limit=True)

https://towardsdatascience.com/searching-for-tweets-with-python-f659144b225f

In [7]:

#its bad practice to place your bearer token directly into the script (this is just done for illustration purposes)
BEARER_TOKEN = bearer_token
#define search twitter function
def search_twitter(query, tweet_fields, bearer_token = BEARER_TOKEN):
    headers = {"Authorization": "Bearer {}".format(bearer_token)}

    url = "https://api.twitter.com/2/tweets/search/recent?query={}&{}".format(
        query, tweet_fields
    )
    response = requests.request("GET", url, headers=headers)

    print(response.status_code)

    if response.status_code != 200:
        raise Exception(response.status_code, response.text)
    return response.json()

In [27]:
#search term
query = "fertiliser ireland"

#"country": "United States"


#"country": "United States"
#twitter fields to be returned by api call
tweet_fields = "tweet.fields=text,author_id,created_at"

place_fields = "place.fields=country"

#twitter api call
json_response = search_twitter(query=query, tweet_fields=tweet_fields , bearer_token=BEARER_TOKEN)


#pretty printing
print(json.dumps(json_response, indent=4, sort_keys=True))

200
{
    "data": [
        {
            "author_id": "701491463",
            "created_at": "2022-04-24T05:38:34.000Z",
            "id": "1518102077892960256",
            "text": "RT @midkentforbrit1: Northern Ireland faces loss of 1 million sheep and cattle to meet climate targets\n\nI forgot to post this appalling art\u2026"
        },
        {
            "author_id": "362505522",
            "created_at": "2022-04-23T22:25:16.000Z",
            "id": "1517993033106665473",
            "text": "RT @midkentforbrit1: Northern Ireland faces loss of 1 million sheep and cattle to meet climate targets\n\nI forgot to post this appalling art\u2026"
        },
        {
            "author_id": "1458749334221168642",
            "created_at": "2022-04-23T21:06:27.000Z",
            "id": "1517973198150815745",
            "text": "RT @midkentforbrit1: Northern Ireland faces loss of 1 million sheep and cattle to meet climate targets\n\nI forgot to post this appalling art\u2026"
        },
        {
            "author_id": "1462105262488268800",
            "created_at": "2022-04-23T21:00:16.000Z",
            "id": "1517971642382794753",
            "text": "RT @midkentforbrit1: Northern Ireland faces loss of 1 million sheep and cattle to meet climate targets\n\nI forgot to post this appalling art\u2026"
        },
        {
            "author_id": "1421727072813207552",
            "created_at": "2022-04-23T20:37:01.000Z",
            "id": "1517965789189529607",
            "text": "RT @midkentforbrit1: Northern Ireland faces loss of 1 million sheep and cattle to meet climate targets\n\nI forgot to post this appalling art\u2026"
        },
        {
            "author_id": "1657471614",
            "created_at": "2022-04-23T20:32:49.000Z",
            "id": "1517964734456283136",
            "text": "RT @midkentforbrit1: Northern Ireland faces loss of 1 million sheep and cattle to meet climate targets\n\nI forgot to post this appalling art\u2026"
        },
        {
            "author_id": "1012426060435279872",
            "created_at": "2022-04-23T20:30:21.000Z",
            "id": "1517964111765770240",
            "text": "Northern Ireland faces loss of 1 million sheep and cattle to meet climate targets\n\nI forgot to post this appalling article yesterday.\n\nThis is plain evil.\nThis isn\u2019t just about fertiliser costs..\nThis is land grabbing \ud83d\ude25 https://t.co/Ztrgl0wkYP"
        },
        {
            "author_id": "1421451864999092230",
            "created_at": "2022-04-23T06:04:08.000Z",
            "id": "1517746120285433856",
            "text": "Breaking headline: 'Energy and fertiliser price rise likely to cause long-term issues for farmers, Teagasc says', https://t.co/FWB3hPdswT"
        },
        {
            "author_id": "266807282",
            "created_at": "2022-04-23T06:02:14.000Z",
            "id": "1517745643380432902",
            "text": "RT @IrishTimes: Energy and fertiliser price rise likely to cause long-term issues for farmers, Teagasc says https://t.co/7NPRR3yreK"
        },
        {
            "author_id": "15084853",
            "created_at": "2022-04-23T05:52:03.000Z",
            "id": "1517743080794824705",
            "text": "Energy and fertiliser price rise likely to cause long-term issues for farmers, Teagasc says https://t.co/7NPRR3yreK"
        }
    ],
    "meta": {
        "newest_id": "1518102077892960256",
        "next_token": "b26v89c19zqg8o3fpytnz0hnw35p66a8rth0iriotauf1",
        "oldest_id": "1517743080794824705",
        "result_count": 10
    }
}

In [28]:
pprint.pprint(json_response['data'])

[{'author_id': '701491463',
  'created_at': '2022-04-24T05:38:34.000Z',
  'id': '1518102077892960256',
  'text': 'RT @midkentforbrit1: Northern Ireland faces loss of 1 million sheep '
          'and cattle to meet climate targets\n'
          '\n'
          'I forgot to post this appalling art…'},
 {'author_id': '362505522',
  'created_at': '2022-04-23T22:25:16.000Z',
  'id': '1517993033106665473',
  'text': 'RT @midkentforbrit1: Northern Ireland faces loss of 1 million sheep '
          'and cattle to meet climate targets\n'
          '\n'
          'I forgot to post this appalling art…'},
 {'author_id': '1458749334221168642',
  'created_at': '2022-04-23T21:06:27.000Z',
  'id': '1517973198150815745',
  'text': 'RT @midkentforbrit1: Northern Ireland faces loss of 1 million sheep '
          'and cattle to meet climate targets\n'
          '\n'
          'I forgot to post this appalling art…'},
 {'author_id': '1462105262488268800',
  'created_at': '2022-04-23T21:00:16.000Z',
  'id': '1517971642382794753',
  'text': 'RT @midkentforbrit1: Northern Ireland faces loss of 1 million sheep '
          'and cattle to meet climate targets\n'
          '\n'
          'I forgot to post this appalling art…'},
 {'author_id': '1421727072813207552',
  'created_at': '2022-04-23T20:37:01.000Z',
  'id': '1517965789189529607',
  'text': 'RT @midkentforbrit1: Northern Ireland faces loss of 1 million sheep '
          'and cattle to meet climate targets\n'
          '\n'
          'I forgot to post this appalling art…'},
 {'author_id': '1657471614',
  'created_at': '2022-04-23T20:32:49.000Z',
  'id': '1517964734456283136',
  'text': 'RT @midkentforbrit1: Northern Ireland faces loss of 1 million sheep '
          'and cattle to meet climate targets\n'
          '\n'
          'I forgot to post this appalling art…'},
 {'author_id': '1012426060435279872',
  'created_at': '2022-04-23T20:30:21.000Z',
  'id': '1517964111765770240',
  'text': 'Northern Ireland faces loss of 1 million sheep and cattle to meet '
          'climate targets\n'
          '\n'
          'I forgot to post this appalling article yesterday.\n'
          '\n'
          'This is plain evil.\n'
          'This isn’t just about fertiliser costs..\n'
          'This is land grabbing 😥 https://t.co/Ztrgl0wkYP'},
 {'author_id': '1421451864999092230',
  'created_at': '2022-04-23T06:04:08.000Z',
  'id': '1517746120285433856',
  'text': "Breaking headline: 'Energy and fertiliser price rise likely to "
          "cause long-term issues for farmers, Teagasc says', "
          'https://t.co/FWB3hPdswT'},
 {'author_id': '266807282',
  'created_at': '2022-04-23T06:02:14.000Z',
  'id': '1517745643380432902',
  'text': 'RT @IrishTimes: Energy and fertiliser price rise likely to cause '
          'long-term issues for farmers, Teagasc says https://t.co/7NPRR3yreK'},
 {'author_id': '15084853',
  'created_at': '2022-04-23T05:52:03.000Z',
  'id': '1517743080794824705',
  'text': 'Energy and fertiliser price rise likely to cause long-term issues '
          'for farmers, Teagasc says https://t.co/7NPRR3yreK'}]

In [29]:
def make_df(json_response):
    return(pd.DataFrame(json_response['data']))

In [30]:
df =make_df(json_response)

In [31]:
pd.options.display.max_rows = 999

df

,author_id,created_at,text,id
0,701491463,2022-04-24T05:38:34.000Z,RT @midkentforbrit1: Northern Ireland faces lo...,1518102077892960256
1,362505522,2022-04-23T22:25:16.000Z,RT @midkentforbrit1: Northern Ireland faces lo...,1517993033106665473
2,1458749334221168642,2022-04-23T21:06:27.000Z,RT @midkentforbrit1: Northern Ireland faces lo...,1517973198150815745
3,1462105262488268800,2022-04-23T21:00:16.000Z,RT @midkentforbrit1: Northern Ireland faces lo...,1517971642382794753
4,1421727072813207552,2022-04-23T20:37:01.000Z,RT @midkentforbrit1: Northern Ireland faces lo...,1517965789189529607
5,1657471614,2022-04-23T20:32:49.000Z,RT @midkentforbrit1: Northern Ireland faces lo...,1517964734456283136
6,1012426060435279872,2022-04-23T20:30:21.000Z,Northern Ireland faces loss of 1 million sheep...,1517964111765770240
7,1421451864999092230,2022-04-23T06:04:08.000Z,Breaking headline: 'Energy and fertiliser pric...,1517746120285433856
8,266807282,2022-04-23T06:02:14.000Z,RT @IrishTimes: Energy and fertiliser price ri...,1517745643380432902
9,15084853,2022-04-23T05:52:03.000Z,Energy and fertiliser price rise likely to cau...,1517743080794824705